/*MENU PIZZAS*/

.container-pizzas {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "pizza1 pizza2"
        "pizza3 pizza4";
    width: 100%;
    height: 100%;
    padding: 40px 0 40px 200px;
    grid-row-gap: 40px;


}



@mixin medidaspizzas ($colorpizzas, $anchopizzas, $bordepizzas) {
    background-color: $colorpizzas;
    width: $anchopizzas;
    border-radius: $bordepizzas;
}

.pizza1 {
    @include medidaspizzas(#cec877, 500px, 15px);
    grid-area: pizza1;
    display: grid;
    position: relative;
    grid-template-columns: auto;
    box-shadow: 0px 15px 40px #000000;
        .tarjetapizza {
                background-image: url(../imagenes/pizzas/calabresa.jpg);
                position: relative;
                width: 100%;
                height: 500px;
                border-radius: 15px 15px 0 0;
                background-position: center center;
                background-size: cover;
            }
}

.pizza2 {
    grid-area: pizza2;
    @extend .pizza1;
    .tarjetapizza {
            background-image: url(../imagenes/pizzas/fugazzeta.jpg);
        }
}

.pizza3 {
    grid-area: pizza3;
    @extend .pizza1;
        .tarjetapizza {
                background-image: url(../imagenes/pizzas/marinara.jpg);
            }
}

.pizza4 {
    grid-area: pizza4;
    @extend .pizza1;
        .tarjetapizza {
                background-image: url(../imagenes/pizzas/ruculaycrudo.jpg);
            }
}

.detalles {
    font-family: $letra;
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
        p{
            color: #6f6f6f;
            font-size: 17px;
            line-height: 25px;
            font-family: 'Roboto Flex',
                    sans-serif;
        }
        button{
            background-color: #000000;
            color: #cec877;
            border-radius: 15px;
            font-size: 20px;
            font-family: 'Roboto Flex',
                sans-serif;
        }
}

.sub-detalles {
    display: grid;
    grid-template-columns: auto auto;
        h5{
            font-size: 25px;
        }
}

.precio {
    text-align: right;
}

/* EXTENDS */
